<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="base::header"></th:block>

</head>
<body>
<th:block th:replace="base::navigation"></th:block>
<div class="container">
    <form action="#" th:action="@{/addDept}" th:object="${newdpt}" method="post">

        <input type="hidden" th:field="*{id}" />
        <p><h4>Department Name</h4> <input type="text" th:field="*{name}"/></p>



        <input type="submit"  value="Save" class="btn btn-lg btn-default btn-block" />


        <select th:field="*{head}">
            <option value=""> Select Employee</option>
            <option th:each="emp:${listemp}"
                    th:value="${emp.id}"
                    th:text="${emp.firstName}">
            </option>
        </select>


    </form>
</div>


<th:block th:replace="base::footer"></th:block>

</body>
</html>